[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "==0.10.0"
python-twitter = "==3.2.1"
Flask = "==0.12"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.6"
